@media all and (min-width:480px) {
	.username {
		font-size: 20px;
		color: #00ff00;
		display: inline;
	}

	.timestamp {
		display: inline;
	}

	.status {
		clear: both;
	}

	.message {
		border: 1px solid #000000;
	}
	.messageText {
		clear: both;
	}


	.longBar{
		width:100%;
		padding:0.1%;
		margin-top:1%;
		background-color:#F5F5F5;
		border:2px solid #DCDCDC;
	}
	table.head {width:100%;background-color:#F5F5F5;}
	h3.head {font-size:30px}
	select {color:green;background-color:#F5F5F5;}
	.shortBar{
		margin-left: auto;
		margin-right: auto;
		width:95%;
		padding:1%;
		margin-top:1%;
		background-color: #F5F5F5;
		border: 2px solid #DCDCDC;
	}
	.userProfileImage{
		height:5%;
		width: 5%
	}
	.userOnlineIcon{
		height:1%;
		width:1%;
	}
	.userStatus{
		position: absolute;
		left:20%;
		display: inline-block;	
	}
	.userStatusUpdateTime{
		position: absolute;
		left: 40%;
		display: inline-block;
	}
	button{
		color:green;
		background-color: #F5F5F5;
	}
	#launchPrivateChat{
		float:right;
		color:green;
		background-color:#F5F5F5;

	}











	h3.content {background-color: #F5F5F5;color: green;font-size:30px;border:1px solid #DCDCDC; padding:0.5%}
	table.content {width:95%;background-color:#F5F5F5;padding:1%;margin:1% 2% 0% 2%;border:1px solid #DCDCDC} 
	
	input[type=submit]{color:green;background-color:#F5F5F5}
	
	form.message {color:green;background-color:#F5F5F5;}
	tr {font-size:1.1em;color:green}
	td {text-align:left;width:33%}  
	td.a {text-align:right;width:10%}
    img.usr {max-height:12%;}
}
@media all and (max-width:480px){
	h3.head {font-size:30px}
	h3.content {background-color: #F5F5F5;color: green;font-size:30px;border:1px solid #DCDCDC; padding:0.5%}
	table.content {width:95%;background-color:#F5F5F5;padding:1%;margin:1% 2% 0% 2%;border:1px solid #DCDCDC} 
	table.head {width:100%;margin-top:1%;background-color:#F5F5F5;border:1px solid #DCDCDC}
	input[type=submit]{color:green;background-color:#F5F5F5;font-size:20px;width:100px;height:40px}
	select {color:green;background-color:#F5F5F5;width:100px;height:40px;font-size:20px}
	/*form.a {background-color:#F5F5F5;padding:1%;margin:1% 2% 0% 2%; border:1px solid #DCDCDC;}*/
	tr {font-size:1.1em;color:green}
	td {text-align:left;width:33%}  
	td.a {text-align:right;}
	img.usr {height:10%;}
}