/*@media all and (min-width:480px) {*/
	.username {
		font-size: 1.3em;
		color: #00ff00;
		display: inline;
	}

	.timestamp {
		display: inline;
	}

	.status {
		clear: both;
	}

	.message {
		border: 1px solid #000000;
	}
	.messageText {
		clear: both;
	}
/*********************************************/
	html,body{
		height: 100%;
	}
	.placeHolder{
		margin:0%;
		padding: 0%;
		clear:both;
		visibility: hidden;
	}
	body{
		margin:0%;
		padding: 0%;
		width: 100%;
	}
	.content{
		position:relative;
		height:75%;
		overflow: scroll;
	}
	.header{
		width:99.5%;
		padding:0.1%;
		background-color:#F5F5F5;
		color: green;
		border:2px solid #DCDCDC;
	}

	.longBar{
		width:97.8;
		padding:0.1%;
		margin-top:1em;
		margin-right: 1%;
		margin-left: 1%;
		background-color:#F5F5F5;
		color: green;
		border:2px solid #DCDCDC;
	}
/*inside longBar*/
	h3.head {
		float: left;
		font-size:2em;
	}
	form.goTo {
		float: right;
		margin-top: 2em;
	}
	#goToMeasureMemoryForm{
		clear: right;
	}

	select {
		color:green;
		background-color:#F5F5F5;
	}
	select.selectStatus{
		display: block;
		clear: both;
	}
	.shortBar{
		margin-left: auto;
		margin-right: auto;
		width:95%;
		padding:1%;
		margin-top:1%;
		color: green;
		background-color: #F5F5F5;
		border: 2px solid #DCDCDC;
	}
/***********wihtin shortBar******************************************/
/******************first block*********/
	div.left{
		float: left;
		width: 25%;
	}
	.userProfileImage{
		height:20%;
		width: 20%;
	}
	.userOnlineIcon{
		height:1%;
		width:1%;
	}
/**********************second block***********/
	div.middle1{
		margin-top: 1.67em;
		float: left;
		width: 25%;
	}
	.userStatus{
	}
/**********************third block***********/
	div.middle2{
		margin-top: 1.67em;
		float: left;
		width: 30%;
	}
	.userStatusUpdateTime{
	}
/**********************fourth block***********/
	button{
		color:green;
		background-color: #F5F5F5;
	}
	button.launchPrivateChat{
		margin-top: 1.67em;
		color:green;
		background-color: #F5F5F5;
		float:right;

	}
	button.adminProfile{
		float: right;
		clear: right;
			
	}

/**********************block ends***********/

/*********including previous style***********/
/*	h3.content {background-color: #F5F5F5;color: green;font-size:30px;border:1px solid #DCDCDC; padding:0.5%}
*/	table.content {width:95%;background-color:#F5F5F5;padding:1%;margin:1% 2% 0% 2%;border:1px solid #DCDCDC} 
	
	input[type=submit]{color:green;background-color:#F5F5F5}
	input[type=button]{color:green;background-color:#F5F5F5}
	
	form.message {color:green;background-color:#F5F5F5;}
	tr {font-size:1.1em;color:green}

    img.usr {max-height:12%;}
/*}*/

/*************for private chat******************************/
	.chatMessages{
		height:65%;
		overflow: scroll;
	}
	.messageEntry{
		margin-right: auto;
		margin-left: auto;
		width: 100%;
	}





