<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=360, initial-scale=1.0" />
		<title>SSNoC SB4</title>
		<link rel="stylesheet" href="/css/toastr.min.css"/>
		<link rel="stylesheet" href="/css/ssnoc.css"/>
		<link rel="stylesheet" href="/css/toastr.min.css"/>
		<script type="text/javascript" src="/js/toastr.min.js"></script>
		<!-- <link rel="stylesheet" href="/css/ssnocMobile.css"> -->
		<script type="text/javascript" src="/js/socket.io.min.js"></script>
		<script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="/js/jquery.loadTemplate-1.4.4.min.js"></script>
		<script type="text/javascript" src="/js/date.js"></script>
		<script type="text/javascript" src="/js/toastr.min.js"></script>
		<script type="text/javascript" src="/js/ssnoc-api.js"></script>
		<script type="text/javascript" src="/js/socket-api.js"></script>
		<script>
			$(document).ready(function(){
				$.ajax({
		      		url:  '/user',
		      		type: 'GET',
		      		dataType: 'json'
		    	}).done(function(data) {
		    		console.log(JSON.stringify(data)); //for test
		      		statusCode= data.local.status.status;
		      		console.log(JSON.stringify(statusCode));
		      		selObj=document.getElementById("selectStatus");
			    	statuses=["GREEN","YELLOW","RED"];	
			    	displayStatuses=["OK","Help","Emergency"];
			    	htmlStr="";
			    	for(i=0;i<statuses.length;i++){
			    		if(statusCode===statuses[i]){htmlStr+="<option value='"+statuses[i]+"' selected='selected'>"+displayStatuses[i]+"</option>"; }
			    		else {htmlStr+="<option value='"+statuses[i]+"'>"+displayStatuses[i]+"</option>"}
			    	}
			    	selObj.innerHTML=htmlStr;
		      	});
			});
		</script>
		<script type="text/javascript">

			function validateUserNameAndPassword() {
			  if( $('#userName').val().trim().length != 0 && $('#userName').val().trim().length < 3 ){
			    toastr.error("Username should be at least 3 characters long");
			    return false;
			  }
			  
			  if( $('#passwd').val().trim().length != 0 && $('#passwd').val().trim().length < 4 ){
			    toastr.error("Password should be at least 4 characters long");
			    return false;
			  }

			  return true;
			}

		 	function verify(){
		 		if(!validateUserNameAndPassword()){
		 			return false;
		 		}

		 		return true;
		 	}


			function cancel(){
				document.getElementById("profileForm").reset();
			}
		</script>
	</head>

	<body>
		<div id="header" class="header">
			<h3 class="head" id="username"></h3>
			<form class="goTo" action="/logout"><input type="submit" value="Logout"></form>
			<form class="goTo" action="/"><input type="submit" value="Home"></form>
			<form id="goToMeasureMemoryForm" class="goTo" action="/memory"><input type="submit" value="Measure Memory"></form>
			<form class="goTo" action="/performance"><input type="submit" value="Measure Performance"></form>
			<form class="goTo" action="/analyze"><input type="submit" value="Analyze Social Network"></form>
			<select id="selectStatus" class="selectStatus">
			</select>
		</div>

		<div id="content" class="content">
			<% if(message.length > 0) { %>
				<h2><%=message%></h2>
			<% } %>
			<% if(errorMessage.length > 0) { %>
				<h2><%=errorMessage%></h2>
			<% } %>
			<div id="profile" class="shortBar">
				<form id="profileForm" action="/updateProfile" method="POST" >
					<input type="hidden" name="originalUsername" value="<%=username%>"/>
					User Name:
					<input id="userName" type="text" name="username" value="<%=username%>"/><br/>
					Password:
					<input id="passwd" type="text" name="password" value=""/><br/>
					Privilege Level:
					<select name="privilegeLevel">
						<option value="Citizen" <% if(privilegeLevel==="Citizen"){ %> selected="selected" <% } %> >Citizen</option>
						<option value="Coordinator" <% if(privilegeLevel==="Coordinator"){ %> selected="selected" <% } %> >Coordinator</option>
						<option value="Monitor" <% if(privilegeLevel==="Monitor"){ %> selected="selected" <% } %> >Monitor</option>
						<option value="Administrator" <% if(privilegeLevel==="Administrator"){ %> selected="selected" <% } %> >Administrator</option>
					</select></br>
					Account Status:
					<select name="accountStatus">
						<option value="Active" <% if(accountStatus==="Active"){ %> selected="selected" <% } %>  >Active</option>
						<option value="Inactive" <% if(accountStatus==="Inactive"){ %> selected="selected" <% } %> >Inactive</option>
					</select></br>
					<input type="button" onclick="cancel()" value="Cancel"/>
					<input type="submit" onclick="verify()" value="Save"/>
				</form>
			</div>
			
		</div>
	</body>
</html>