<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=360, initial-scale=1.0" />
		<title>SSNoC SB4</title>
		<link rel="stylesheet" href="/css/toastr.min.css"/>
		<link rel="stylesheet" href="/css/ssnoc.css"/>
		<!-- <link rel="stylesheet" href="/css/ssnocMobile.css"> -->
		<script type="text/javascript" src="/js/socket.io.min.js"></script>
		<script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="/js/jquery.loadTemplate-1.4.4.min.js"></script>
		<script type="text/javascript" src="/js/date.js"></script>
		<script type="text/javascript" src="/js/toastr.min.js"></script>
		<script type="text/javascript" src="/js/ssnoc-api.js"></script>
		<script type="text/javascript" src="/js/socket-api.js"></script>
		<script>
		// for select status: get the status of the current user and render into the tag
			$.ajax({
	      		url:  '/user',
	      		type: 'GET',
	      		dataType: 'json'
	    	}).done(function(data) {
	    		console.log(JSON.stringify(data)); //for test
	      		statusCode= data.local.status.status;
	      		console.log(JSON.stringify(statusCode));
	      		selObj=document.getElementById("selectStatus");
		    	statuses=["GREEN","YELLOW","RED"];	
		    	displayStatuses=["OK","Help","Emergency"];
		    	htmlStr="";
		    	for(i=0;i<statuses.length;i++){
		    		if(statusCode===statuses[i]){htmlStr+="<option value='"+statuses[i]+"' selected='selected'>"+displayStatuses[i]+"</option>"; }
		    		else {htmlStr+="<option value='"+statuses[i]+"'>"+displayStatuses[i]+"</option>"}
		    	}
		    	selObj.innerHTML=htmlStr;
	      	});	


		// show public wall on document load
			$(document).ready(function(){
				showPublicWall();
				$("#pageSelector").val("publicWall");
			});
		</script>
		<script type="text/javascript">
			function showPublicWall(){
				$("#peopleDirectory").hide();
				$("#chatBuddies").hide();
				refreshPublicWall();
				$("#publicWall").show();
			}

			function showPeopleDirectory(){
				$("#publicWall").hide();
				$("#chatBuddies").hide();
				refreshPeopleDirectory();
				$("#peopleDirectory").show();
			}

			function showPrivateChat(){
				$("#publicWall").hide();
				$("#peopleDirectory").hide();
				refreshChatBuddies();
				$("#chatBuddies").show();
			}

			function selectPage(selObj){
				content=selObj.options[selObj.selectedIndex].value;
				if(content==="publicWall"){
					showPublicWall();
				} else if(content==="peopleDirectory"){
					showPeopleDirectory();
				} else if(content==="privateChat"){
					showPrivateChat();
				}
			}

		</script>
	</head>

	<body>
		<div id="header" class="header">
			<h3 class="head" id="username"></h3>
			<form class="goTo" action="/logout"><input type="submit" value="Logout"></form>
			<form class="goTo" action="/memory"><input type="submit" value="Measure Memory"></form>
			<form class="goTo" action="/performance"><input type="submit" value="Measure Performance"></form>
			<form class="goTo" action="/analyze"><input type="submit" value="Analyze Social Network"></form>
			<select id="selectStatus" class="selectStatus">
			</select>
		</div>
		<div class="header">
			<form>
        		<select id="pageSelector" onchange="selectPage(this);">
        			<option value="publicWall">Public Wall</option>
        			<option value="peopleDirectory">People Directory</option>
        			<option value="privateChat">Private Chat</option>
        		</select>
        	</form>
		</div>
		<div id="content" class="content">
			<div id="publicWall">
				<div id="submitMessageBar" class="longBar">
					<input id="wallMessage" type="text" name="message"/>
					<button id="submitWallMessage">Submit Wall Message</button>
				</div>
				<div id="messages">
				</div>
			</div>
			<div id="peopleDirectory">
				<h2>Me</h2>
				<div id="myUser">
				</div>
				<h2>Online Users</h2>
				<div id="onlineUsers">
				</div>
				<h2>Offline Users</h2>
				<div id="offlineUsers">
				</div>

			</div>
			<div id="chatBuddies">
			</div>
		</div>
		<script type="text/html" id="people_directory_template">
            <div class="shortBar">
            	<div class="left">
	            	<img class="userProfileImage" data-src="userProfileImage"/>
	                <h5 class="username" data-content="username"></h5>
	                <img class="userOnlineIcon" data-src="userOnlineIcon"/>
	            </div>
	            <div class="middle1">
	                Status:
	                <img data-src="statusIcon"/>
	               	<span class="statusCode" data-content="status" data-format="StatusFormatter"></span>
	            </div>
	            <div class="middle2">
	                <p class="userStatusUpdateTime">Updated: 
	                <span class="timestamp" data-content="updatedAt"></span>
	                </p>
	            </div>
                <button type="button" id="launchPrivateChat" class="right">Private Chat</button>
                <button type="button" class="adminProfile" onclick="adminProfile()">Administer Profile</button>
                <div class="placeHolder">placeHolder</div>
            </div>
        </script>
        <script type="text/html" id="wall_message_template">
            <div  class="shortBar">
                <h5 class="username" data-content="author"></h5>
                <span class="timestamp" data-content="postedAt"></span>
                <p class="messageText" data-content="content" >
                </p>
			</div>
        </script>
		<script type="text/html" id="wall_status_template">
            <div  class="shortBar">
                <h5 class="username" data-content="username"></h5>
                <span class="timestamp" data-content="updatedAt"></span>
                <p class="status">
                    Status:
                    <span class="statusCode" data-content="status" data-format="StatusFormatter"></span>
                    <img data-src="statusIcon"/>
                </p>
                <p class="placeHolder">
                	placeHolder
                </p>
            </div>
        </script>
        <script type="text/html" id="chat_buddy_user">
        	<div class="chatBuddy">
        		<h5 class="username" data-content="username"></h5>
    			<img class="userOnlineIcon" data-src="userOnlineIcon"/>
        	</div>
        </script>
	</body>
</html>