<!DOCTYPE html>
<html>
	<head>
		<title>SSNoC SB4</title>
		<script type="text/javascript" src="/js/socket.io.min.js"></script>
		<script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="/js/jquery.loadTemplate-1.4.4.min.js"></script>
		<script type="text/javascript" src="/js/date.js"></script>
		<script type="text/javascript" src="/js/ssnoc-api.js"></script>
		<script type="text/javascript" src="/js/socket-api.js"></script>
		<link rel="stylesheet" href="/css/ssnoc.css"/>
		<script type="text/javascript">
			function selectPage(selObj){
				content=selObj.options[selObj.selectedIndex].value;
				if(content==="publicWall"){
					$("#peopleDirectory").hide();
					$("#chatBuddies").hide();
					$("#publicWall").show();
				}
				if(content==="peopleDirectory"){
					$("#publicWall").hide();
					$("#chatBuddies").hide();
					$("#peopleDirectory").show();
				}
				if(content==="privateChat"){
					$("#publicWall").hide();
					$("#peopleDirectory").hide();
					$("#chatBuddies").show();
				}
			}
		</script>
	</head>

	<body>
		<div id="header">
			<table class="head">
                        <tr><td><h3 class="head" id="username"></h3></td><td>message</td><td class="a"><form action="/logout"><input type="submit" value="logout"></form></td></tr>
                        <tr>
                        	<td>
                        		<>
                        	</td>
                        </tr>
            </table>
		</div>
		<div id="pageSelector">
			<form>
        		<select onchange="selectPage(this);">
        			<option value="publicWall">Public Wall</option>
        			<option value="peopleDirectory">People Directory</option>
        			<option value="privateChat">Private Chat</option>
        		</select>
        	</form>
		</div>
		<div id="content">
			<div id="publicWall">
				<input id="wallMessage" type="text" name="message"/>
				<button id="submitWallMessage">Submit Wall Message</button>
				<div id="messages">
				</div>
			</div>
			<div id="peopleDirectory">
				<h2>Online Users</h2>
				<div id="onlineUsers">
				</div>
				<h2>Offline Users</h2>
				<div id="offlineUsers">
				</div>
			</div>
			<div id="chatBuddies">
			</div>
		</div>
		<script type="text/html" id="people_directory_template">
            <div class="directory_person">
            	<img class="userProfileImage" data-src="userProfileImage"/>
                <h5 class="username" data-content="username"></h5>
                <img class="userOnlineIcon" data-src="userOnlineIcon"/>
                <p class="userStatus">Status:
                	<span class="statusCode" data-content="status" data-format="StatusFormatter"></span>
                    <img data-src="statusIcon"/>
                </p>
                <p class="userStatusUpdateTime">Updated: 
                <span class="timestamp" data-content="updatedAt"></span>
                </p>
            </div>
        </script>
        <script type="text/html" id="wall_message_template">
            <div class="message">
                <h5 class="username" data-content="author"></h5>
                <span class="timestamp" data-content="postedAt"></span>
                <p class="messageText" data-content="content" ></span>
                </p>
			</div>
        </script>
	</body>
</html>