<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <title>Measure Memory</title>
                 <!--<link rel='stylesheet' href='/css/style.css'/>-->
                <style type="text/css">
		@media all and (min-width:480px) {
                	h3.head {font-size:30px}
                	h3.content {background-color: #F5F5F5;color: green;font-size:30px;border:1px solid #DCDCDC; padding:0.5%}
                	table.content {width:95%;background-color:#F5F5F5;padding:1%;margin:1% 2% 0% 2%;border:1px solid #DCDCDC} 
                	table.head {width:100%;margin-top:1%;background-color:#F5F5F5;border:1px solid #DCDCDC}
                	input[type=submit]{color:green;background-color:#F5F5F5}
                	select {color:green;background-color:#F5F5F5;}
                	/*form.a {background-color:#F5F5F5;padding:1%;margin:1% 2% 0% 2%; border:1px solid #DCDCDC;}*/
                	tr {font-size:1.1em;color:green}
                	td {text-align:left;width:33%}  
                	td.a {text-align:right;width:10%}
			img.usr {max-height:12%;}
		}
		@media all and (max-width:480px){
			h3.head {font-size:30px}
                	h3.content {background-color: #F5F5F5;color: green;font-size:30px;border:1px solid #DCDCDC; padding:0.5%}
                	table.content {width:95%;background-color:#F5F5F5;padding:1%;margin:1% 2% 0% 2%;border:1px solid #DCDCDC} 
                	table.head {width:100%;margin-top:1%;background-color:#F5F5F5;border:1px solid #DCDCDC}
                	input[type=submit]{color:green;background-color:#F5F5F5;font-size:20px;width:100px;height:40px}
                	select {color:green;background-color:#F5F5F5;width:100px;height:40px;font-size:20px}
                	/*form.a {background-color:#F5F5F5;padding:1%;margin:1% 2% 0% 2%; border:1px solid #DCDCDC;}*/
                	tr {font-size:1.1em;color:green}
                	td {text-align:left;width:33%}  
                	td.a {text-align:right;}
			img.usr {height:10%;}
	
		}
                </style>
        </head>
        <body>
  				<!--this will not show-->
                <table class="head">
                        <tr><td><h3 class="head">&nbsp;Measure Memory</h3></td>
                        <td class="a"><form action="/logout"><input type="submit" value="logout"></form></td></tr>
                </table>
               	<table class="head">
               	<tr><td class ="head">
               	<label for="Time Window">Time Window</label>
			  	  <select name="Time Window" id="Time Window">
			      <option>24</option>
			      <option>23</option>
			      <option>22</option>
			      <option>21</option>
			      <option>20</option>
			      <option>19</option>
			      <option>18</option>
			      <option>17</option>
			      <option>16</option>
			      <option>15</option>
			      <option>14</option>
			      <option>13</option>
			      <option>12</option>
			      <option>11</option>
			      <option>10</option>
			      <option>09</option>
			      <option>08</option>
			      <option>07</option>
			      <option>06</option>
			      <option>05</option>
			      <option>04</option>
			      <option>03</option>
			      <option>02</option>
			      <option>01</option>
			    </select></p>
			  	<p><button type="button">Start</button>
			  	<button type="button">Stop</button></p></td></tr></table>
			  	<table><tr>
			  	<td>Timestamp</td>
			  	<td>Online Users</td>
			  	<td>Used Volatile Memory</td>
			  	<td>Remaining Volatile Memory</td>
			  	<td>Used Non-Volatile Memory</td>
			  	<td>Remaining Non-Volatile Memory</td>
			  	</tr>
			  	