<!DOCTYPE html>
<html>
	<head>
		<title>Poster!!</title>
		<script type="text/javascript" src="/js/socket.io.min.js"></script>
		<script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="/js/jquery.loadTemplate-1.4.4.min.js"></script>
		<script type="text/javascript" src="/js/date.js"></script>
		<script type="text/javascript" src="/js/ssnoc-api.js"></script>
		<script type="text/javascript" src="/js/socket-api.js"></script>
		<link rel="stylesheet" href="/css/ssnoc.css"/>
	</head>
	<body>
		<input id="wallMessage" type="text" name="message"/>
		<button id="submitWallMessage">Submit Wall Message</button>
		<input id="statusMessage" type="text" name="statusMessage"/>
		<button id="submitStatus">Submit Status</button>
		<div id="messages">
		</div>
		<script type="text/html" id="wall_status_template">
            <div class="message">
                <h5 class="username" data-content="username"></h5>
                <span class="timestamp" data-content="updatedAt"></span>
                <p class="status">
                    Status:
                    <span class="statusCode" data-content="status" data-format="StatusFormatter">something something</span>
                    <img data-src="statusIcon"/>
                </p>
            </div>
        </script>
	</body>
</html>