<!DOCTYPE html>
<html>
	<head>
		<title>Poster!!</title>
		<script text="type/javascript" src="/js/socket.io.min.js"></script>
		<script text="type/javascript" src="/js/jquery-1.9.1.min.js"></script>
		<script text="type/javascript" src="/js/date.js"></script>
		<script text="type/javascript" src="/js/socket-api.js"></script>
	</head>
	<body>
		<input id="wallMessage" type="text" name="message"/>
		<button id="submitWallMessage">Submit Wall Message</button>
		<input id="statusMessage" type="text" name="statusMessage"/>
		<button id="submitStatus">Submit Status</button>
		<div id="messages">
		</div>
	</body>
</html>