<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=360, initial-scale=1.0" />
	<title>SSNoC SB4</title>
	<link rel="stylesheet" href="/css/toastr.min.css"/>
	<link rel="stylesheet" href="/css/ssnoc.css"/>
	<!-- <link rel="stylesheet" href="/css/ssnocMobile.css"> -->
	<script type="text/javascript" src="/js/socket.io.min.js"></script>
	<script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="/js/jquery.loadTemplate-1.4.4.min.js"></script>
	<script type="text/javascript" src="/js/date.js"></script>
	<script type="text/javascript" src="/js/toastr.min.js"></script>
	<script type="text/javascript" src="/js/ssnoc-api.js"></script>
	<script type="text/javascript" src="/js/socket-api.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			chatBuddy = <%-JSON.stringify(buddyName)%>;
			console.log("starting chat with: " + chatBuddy);
			$("#chatHeader").append(": " + chatBuddy);

			// query the existing messages between two users
			$.ajax({
        		url: '/privateMessages?buddy=' + chatBuddy,
        		type: 'GET',
        		dataType: 'json'
		    }).done(function(data){
		        data.forEach(function(message){
		            insertChatMessage(message);
		        });
		    });
		});
	</script>
	<script>
		$(document).ready(function(){
			$.ajax({
	      		url:  '/user',
	      		type: 'GET',
	      		dataType: 'json'
	    	}).done(function(data) {
	    		//console.log(JSON.stringify(data)); //for test
	      		statusCode= data.local.status.status;
	      		privilegeLevel=data.local.privilegeLevel;
	      		console.log(privilegeLevel);
	      		//check for privilegeLevel
				if(privilegeLevel==="Monitor"||privilegeLevel==="Administrator"){
					$("#goToMeasureMemoryForm").removeAttr("hidden");
					$("#goToMeasurePerformanceForm").removeAttr("hidden");
				}
				if(privilegeLevel==="Coordinator"||privilegeLevel==="Administrator"){
					$("#goToAnalyzeForm").removeAttr("hidden");
					$("#postPublicAnnouncementBar").removeAttr("hidden");
				}

		      	//console.log(JSON.stringify(statusCode));
	      		selObj=document.getElementById("selectStatus");
		    	statuses=["GREEN","YELLOW","RED"];	
		    	displayStatuses=["OK","Help","Emergency"];
		    	htmlStr="";
		    	for(i=0;i<statuses.length;i++){
		    		if(statusCode===statuses[i]){htmlStr+="<option value='"+statuses[i]+"' selected='selected'>"+displayStatuses[i]+"</option>"; }
		    		else {htmlStr+="<option value='"+statuses[i]+"'>"+displayStatuses[i]+"</option>"}
		    	}
		    	selObj.innerHTML=htmlStr;
	      	});	
	    });
	</script>
	<style>
    	html, body { height:100%; }
  	</style>
</head>
<body>
	<div id="header" class="header">
			<h3 class="head" id="username"></h3>
			<form id="logoutForm" class="goTo" action="/logout"><input type="submit" value="Logout"></form>
			<form id="goHomeForm" class="goTo" action="/"><input type="submit" value="Home"></form>
			<form hidden="hidden" id="goToMeasureMemoryForm" class="goTo" action="/memory"><input type="submit" value="Measure Memory"></form>
			<form hidden="hidden" id="goToMeasurePerformanceForm" class="goTo" action="/performance"><input type="submit" value="Measure Performance"></form>
			<form hidden="hidden" id="goToAnalyzeForm" class="goTo" action="/analyze"><input type="submit" value="Analyze Social Network"></form>
			<select id="selectStatus" class="selectStatus">
			</select>
	</div>
	<h2 id="chatHeader">Private Chat</h2>
	<div id="chatMessages" class="chatMessages">
	</div>
	<div id="messageEntry" class="messageEntry">
		<input type="text" id="privateChatInput"/>
		<button id="privateChatSubmit">Send</button>
	</div>
	<script type="text/html" id="message_template">
		<div class="shortBar" >		
			<img class="userProfileImage" data-src="userProfileImage"/>
			<h4 class="username" data-content="username"></h4>
			<p class="timestamp" data-content="timestamp"></p>
			<p class="message_text" data-content="message"></p>
		</div>
	</script>
</body>
</html>