<!DOCTYPE html>
<html>
	<head>
	<meta name="viewpoint" content="width=360, initial-scale=1.0" />
	<meta charset="UTF-8">
	<title>SSNoC</title>
	<style type=text/css>
		th {text-align:center;}
	</style>
	</head>
	<body>
		<center>
			<br/>
			<br/>
			<br/>
			<h1 style = "color:green">Welcome to Survivable Social Netwrok on a Chip!</h1>
			<a href= "/home" style ="font-size:120%; color:green">Get Started!</a>
			<table>
				<tr><th>Meaning of Various Statuses</th></tr>
				<tr><td>OK</td><td>I am OK, I do not need help.</td></tr>
				<tr><td>Help</td><td>I need help, but this is not a life threatening emergency.</td></tr>
				<tr><td>Emergency</td><td>I need help now, as this is a life threatening emergency!</td></tr>
			</table>
		<center>
	</body>
<html>
